.alert-store {
    position: fixed;
    top: var(--header-height);
    right: 0;
    left: 0;
    height: 0;
    margin: auto;

    &_list {
        padding: 0;
        margin-top: -10px;
        list-style-type: none;
    }

    &_item {
        max-width: 250px;
        padding: 5px 10px;
        margin-top: 10px;
        font-size: 16px;
        line-height: 22px;
        color: #fff;
        text-align: center;
        background: var(--c-danger);
        border-radius: 8px;

        &-enter {
            opacity: 0;
        }

        &-enter-active {
            opacity: 1;
            transition: opacity 500ms ease-in;
        }

        &-exit {
            opacity: 1;
        }

        &-exit-active {
            opacity: 0;
            transition: opacity 500ms ease-out;
        }
    }
}

.item-enter {
    opacity: 0;
}

.item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.item-exit {
    opacity: 1;
}

.item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-out;
}